language: python
sudo: false
os:
  - linux

python:
  - "2.7"
  - "3.5"
  - "3.6"

install:
  - pip install -r dev-requirements.txt

script:
  - "py.test -v --tb=short tests.py"


notifications:
  webhooks:
    urls:
      - https://rmotr.com/api/v1/webhooks/travis/build-project
    on_success: always
    on_failure: always
    on_start: never
